In [53]:
import pandas as pd
import sqlite3
import datetime as dt

sql = f"""
SELECT *
FROM labelled_predictions
"""

with sqlite3.connect('taxis.sqlite') as con:
    df = pd.read_sql_query(sql, con)

df

,loop_id,label_created_at,label,prediction,model_name
0,0000006,2022-04-26 20:25:16.083981,"""114""",0.000000,Linear regression
1,0000003,2022-04-26 20:25:25.747748,"""280""",0.000000,Linear regression
2,0000021,2022-04-26 20:25:31.166590,"""61""",0.000000,Linear regression
3,0000010,2022-04-26 20:25:31.991021,"""263""",0.000000,Linear regression
4,0000002,2022-04-26 20:25:33.670172,"""408""",0.000000,Linear regression
...,...,...,...,...,...
1661,0001706,2022-04-26 20:39:02.494664,"""503""",912.556867,Linear regression
1662,0001597,2022-04-26 20:39:02.572012,"""1313""",821.025147,Linear regression
1663,0001741,2022-04-26 20:39:02.649838,"""235""",799.917433,Linear regression
1664,0001619,2022-04-26 20:39:03.354810,"""1176""",792.061366,Linear regression
1665,0001607,2022-04-26 20:39:03.712232,"""1260""",792.061366,Linear regression

In [45]:
import json

df["event"].map(json.loads)

0    {'vendor_id': '2', 'pickup_datetime': '2016-01...
1    {'vendor_id': '1', 'pickup_datetime': '2016-01...
2    {'vendor_id': '1', 'pickup_datetime': '2016-01...
3    {'vendor_id': '2', 'pickup_datetime': '2016-01...
4    {'vendor_id': '2', 'pickup_datetime': '2016-01...
5    {'vendor_id': '2', 'pickup_datetime': '2016-01...
6    {'vendor_id': '1', 'pickup_datetime': '2016-01...
Name: event, dtype: object