In [93]:
import pandas as pd
import sqlite3
import datetime as dt

sql = f"""
SELECT *
FROM sliding_metrics
"""

with sqlite3.connect('taxis.sqlite') as con:
    df = pd.read_sql_query(sql, con)

df

                  tick         model_name         mae
0  2022-04-26 23:17:00  Linear regression  732.597708
1  2022-04-26 23:18:00  Linear regression  566.597708

In [94]:
sql = f"""
SELECT *
FROM cumulative_metrics
"""

with sqlite3.connect('taxis.sqlite') as con:
    df = pd.read_sql_query(sql, con)

df

                  tick         model_name         mae
0  2022-04-26 23:17:00  Linear regression  732.597708
1  2022-04-26 23:18:00  Linear regression  667.097708