In [42]:
import pandas as pd
import sqlite3
import datetime as dt

sql = f"""
SELECT *
FROM labelled_events
"""

with sqlite3.connect('taxis.sqlite') as con:
    df = pd.read_sql_query(sql, con)

df

,loop_id,label_created_at,label,event
0,0000006,2022-04-26 18:18:58.603620,"""114""","{""vendor_id"": ""2"", ""pickup_datetime"": ""2016-01..."
1,0000003,2022-04-26 18:19:03.541883,"""280""","{""vendor_id"": ""1"", ""pickup_datetime"": ""2016-01..."
2,0000021,2022-04-26 18:19:06.331570,"""61""","{""vendor_id"": ""1"", ""pickup_datetime"": ""2016-01..."
3,0000010,2022-04-26 18:19:06.757547,"""263""","{""vendor_id"": ""2"", ""pickup_datetime"": ""2016-01..."
4,0000002,2022-04-26 18:19:07.629880,"""408""","{""vendor_id"": ""2"", ""pickup_datetime"": ""2016-01..."
5,0000014,2022-04-26 18:19:09.309438,"""220""","{""vendor_id"": ""2"", ""pickup_datetime"": ""2016-01..."
6,0000040,2022-04-26 18:19:11.798177,"""87""","{""vendor_id"": ""1"", ""pickup_datetime"": ""2016-01..."

In [35]:
df.iloc[0].str.strip('"').astype(float)

label    114.0
Name: 0, dtype: float64