In [14]:
import pandas as pd
import sqlite3

sql = """
SELECT *
FROM metrics
"""

with sqlite3.connect('taxis.sqlite') as con:
    df = pd.read_sql_query(sql, con)

df

          mae
0  161.643923

In [2]:
df

,loop_id,label_created_at,label,prediction,model_name
0,f53e056b-30ce-497c-9310-35d0f09418a8,2022-04-25 23:59:22.249679,"""849""",0.000000,Linear regression
1,f0a34ce8-3ae5-426c-b69a-c2a2a1a5ef91,2022-04-25 23:59:22.265553,"""1294""",0.000000,Linear regression
2,dcd7a03a-8547-4895-9b32-e64b5960b7f7,2022-04-25 23:59:22.282599,"""408""",0.000000,Linear regression
3,73328e13-1c31-4b5d-ac34-fbdc9ef81889,2022-04-25 23:59:24.830488,"""849""",49.829992,Linear regression
4,6721e486-127f-4536-bd35-46ec5a2d7ec4,2022-04-25 23:59:24.849660,"""1294""",49.829992,Linear regression
5,ce0528f2-e625-4917-9c16-5bf4e616a0f0,2022-04-25 23:59:24.864501,"""408""",49.829992,Linear regression